﻿///<reference path="../utilities/utilities">
.buttons-row {
    text-align: right;

    &.top-buttons-row {
        float: right !important;
    }
}

.btn.loading-action-result {
    @extend .text-muted;
}

.btn {
    &:not(.dropdown-toggle) {
        @include btn-style($light-green,$dark-green,$white,$white,$light-green,$dark-green);
    }

    &.btn-primary {
        @include btn-style($white,$white,$color-primary, $color-primary-darken);
    }

    &[name=Cancel] {
        @include btn-style($white,$white,$gray-500,$p-dark-gray);
    }

    &[name=Search],&[name=Download] {
        @include btn-style($black-primary,$p-dark-gray,$white,$white,$black-primary,$p-dark-gray);
    }

    &[name=Import] {
        @include btn-style($color-primary,$color-primary-darken,$white,$white,$color-primary,$color-primary-darken);
    }
}