﻿///<reference path="../../common/utilities/utilities">

$bs-height-base: ($line-height-computed + $padding-base-vertical * 2);

body {
    text-align: center;

    .login-content {
        background: url(/img/login-bg.svg);
        background-color: $color-primary;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;

        .card {
            background-color: transparent;

            &.login {
                border: 0;
            }

            h2 {
                text-align: center;
                margin-bottom: 3rem;

                + div {
                    text-align: center;
                }
            }

            .card-body {
                padding-bottom: 0;
                background-color: transparent;
                max-width: 500px;
                min-height: 30rem;
                vertical-align: central;

                .card-header {
                    border-bottom: 0;
                    background-color: transparent;

                    .logo {
                        width: 30rem;
                        height: 10rem;
                        position: absolute;
                        top: 20%;
                        left: 50%;
                        padding-bottom: 10px;
                        transform: translate(-50%, -50%);
                        -ms-transform: translate(-50%, -50%)
                    }
                }

                .inner-card {
                    background-color: white;
                    -moz-border-radius: $b-radius;
                    -webkit-border-radius: $b-radius;
                    border-radius: $b-radius;
                    padding: 2rem;
                    min-height: 32rem;

                    h2 {
                        margin-top: 2rem;
                    }

                    .form-group {
                        margin: 0;
                    }
                }
            }
        }

        .form-group {
            label {
                @include make-column-lg(12);
            }

            .group-control {
                @include make-column-lg(12);
            }
        }
    }

    .input-form {

        .form-control {
            border: 3px solid $gray-background;
        }

        input, .btn {
            -moz-border-radius: $b-radius;
            -webkit-border-radius: $b-radius;
            border-radius: $b-radius;
            min-height: 4.2rem;
        }

        .buttons-row {
            @include make-row();
            text-align: center;

            .buttons {
                @include make-column-lg(12);
                flex: 1;

                .btn-login {
                    font: bold 15px arial;
                    padding: 15px 25px;
                }
            }
        }

        .form-body, .buttons-row {
            max-width: 40rem;
            margin: auto;
            background-color: transparent;

            .buttons {
                width: initial;
            }
        }
    }

    .bottom-info {
        color: $p-dark-gray;
        border-top: .1px solid $light-gray;
        padding-top: 10px;
        margin-top: 10px;
    }

    .modal-body {
        padding: 2rem;
        min-height: 25rem;

        .form-group {
            margin: 1rem !important;
        }
    }

    &.modal-open > :not(.modal) {
        -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -o-filter: blur(5px);
        -ms-filter: blur(5px);
        filter: blur(5px);
    }
}

@include for-tablet-portrait-up {
    body {
        .card.login {
            min-height: 100vh;

            .card-body {
                width: 60rem;
                position: absolute;
                top: 43%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
            }
        }
    }
}
