﻿///Define project color palette here to customize and use universally.

//TODO @BB try to find better name or reduce the shade if it's not special
$color-primary: #54BAC6;
$color-primary-darken: #2E95A1;
//3E8D96
$color-primary-lighten: #d8eaea;
$on-color-primary: #fff;
$p-dark-gray: #737373;
$black-primary: #3d2457;//#232323;
$gray-background: #F2F2F2;
$border-color: #CFCFCF;
$light-gray: #E6E6E6;
$black: #000000;
$error: #FF0000;
$dirty-yellow: #FFDA70;
$blue-dark: #3d2457; //#182550;
$available: #44C361;
$light-green: #54CA20;
$dark-green: #347E14;

$disabled-opacity: .6;
$disabled-bg-color: rgba(230,230,230, .4); 

$primary: $color-primary;