﻿$header-height: 10rem;
$footer-height: 7rem;
$sidebar-width: 22rem;
$page-min-height: 100vh;
$control-input-width: 40rem;
$s-control-input-min-width: 22rem;
$default-font-size: 1.4rem;
$b-radius: 1rem;
//$default-padding-size: 2rem; @TODO: find a better name
//$footer-height: 90px;
//$footer-top-margin: 30px;
