﻿///<reference path="../../common/utilities/utilities">
h2 {
    margin-top: 0;
    font-size: 2.2rem;
    color: $color-primary;
    padding: 1rem 0;
    border-bottom: 1px solid $color-primary-lighten;
    margin-bottom: 20px;
}

h3{
    padding:1rem 0 1rem 0;
}

.social-media-login .buttons-row {
    text-align: left;
}

.captcha-image {
    margin-top: 10px !important;
}

.captcha-image-refresh {
    i {
        margin-right: 10px;
    }
}

.amber-text {
    color: #FFBF00;
    font-weight: bold;
}

.red-text {
    color: red;
    font-weight: bold;
}
