﻿///<reference path="../../common/utilities/utilities">

footer {
    width: 100%;
    color: $black-primary;
    /*    height: $footer-height;*/
    padding: 2rem 0;

    p {
        padding: 5px;
        @extend .text-muted;
        color: #334432;
    }

    a, a:hover {
        color: $color-primary;
    }

    img {
        margin: 0 8px;
    }

    .pull-right a {
        //  color: #fff;
        text-decoration: underline;
    }

    .plain-text {
        text-decoration: none !important;
    }

    .column {
        float: left;

        &.logout {
            padding-left: 2.3rem;
        }

        &.logout, &.footer-text {
            width: 100%;
        }
    }

    .row
        {
        margin:unset;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }
}

@include for-tablet-portrait-up {

    footer {

        .column {

            &.logout {
                width: 10%;
            }

            &.footer-text {
                width: 90%;
            }
        }
    }
}
