﻿///<reference path="../../common/utilities/utilities">

.page {
    min-height: calc(#{$page-min-height} - #{$header-height} - #{$footer-height});
    display: flex;
    flex-flow: row wrap;

    .left-panel {
        display: none;
        padding-right: 10px;

        @include for-tablet-landscape-up {
            min-height: calc(#{$page-min-height} - #{$header-height} - #{$footer-height});
            flex: 0 0 $sidebar-width;
            max-width: $sidebar-width;
            display: block;
            opacity: 1;
        }

        &.show {
            position: absolute;
            z-index: 100;
            animation-name: menu-slide-right-anim;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
            display: block;
            max-width: $sidebar-width;
            width: $sidebar-width;
            min-height: calc(#{$page-min-height} - #{$header-height} - #{$footer-height});
            background-color: $white;

            li.visible-in-collapsed-only {
                display: block;
            }
        }
    }

    .right-panel {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: auto;
        background-color: $gray-background;
        color: $black-primary;

        .content-wrapper {
            flex: 1;
            display: flex;
            flex-flow: column wrap;
            overflow-y: auto;

            .content {
                flex: 1;
                padding: 2rem;

                form {
                    background-color: $white;
                    padding: 2rem;

                    .file-upload .progress {
                        min-width: 26rem;
                        height: 31px;
                        flex: 1;
                    }

                    h3 {
                        color: $color-primary;
                    }

                    .pagination-wrap {
                        border-top: 1px solid #d8eaea;

                        .page-number {
                            margin-left: 0;
                        }
                    }
                }

                .Metrics {
                    .form-group {

                        &.chart {
                            .group-control {
                                max-width: none;
                            }
                        }


                        @include for-phone-only {
                            &.chart {
                                flex: 100%;
                                width: 100%;
                            }
                        }

                        @include for-tablet-portait-only {
                            flex: 50%;

                            &.chart {
                                flex: 100%;
                                width: 100%;
                            }

                            .group-control {
                                min-width: 22rem;
                            }
                        }

                        @include for-tablet-landscape-only {
                            flex: 50%;
                            width: 50%;

                            .group-control {
                                min-width: 22rem;
                            }
                        }

                        @include for-desktop-only {
                            width: 25%;
                            flex: 25%;

                            .group-control {
                                min-width: 22rem !important;
                            }
                        }

                        @include for-big-desktop-up {
                            &.chart {
                                flex: 50%;
                                width: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
}
