﻿@{Layout = Request.IsAjaxCall() ? null : "~/Views/Layouts/AdminDefault.Container.cshtml";}
@{ var leftMenu = ViewData["LeftMenu"].ToStringOrEmpty(); }
@{ var innerTopMenu = ViewData["InnerTopMenu"].ToStringOrEmpty(); }
@{ var topMenu = ViewData["TopMenu"].ToStringOrEmpty(); }
<main>
    <header>
        @await Component.InvokeAsync(typeof(Header))
    </header>
    <div class="page">
        <div class="left-panel">
            @if (leftMenu.HasValue())
            {
<div class="sidebar-wrapper">
    @await Component.InvokeAsync(ViewData["LeftMenu"].ToString())
</div>      }
        </div>
        <div class="right-panel">
            <div class="content-wrapper">
                @if (topMenu.HasValue())
                {
    <div class="top-menu">
        @await Component.InvokeAsync(ViewData["TopMenu"].ToString())
    </div>}
                <div class="content">
                    @if (innerTopMenu.HasValue())
                    {
        <div class="inner-top-menu">
            @await Component.InvokeAsync(ViewData["InnerTopMenu"].ToString())
        </div>}
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>
    <footer>@await Component.InvokeAsync(typeof(Footer))</footer>
    @if (!Request.IsAjaxRequest())
    {
<script src="/lib/requirejs/require.js" data-main="/scripts/references.js?v=1"></script>
}
    @Html.DevCommandsWidget()
    @Html.RegisterStartupActions()
</main>
