﻿@using Microsoft.AspNetCore.Hosting;
@{ var timeout = Config.Get("Authentication:Timeout", defaultValue: 20).Minutes().TotalSeconds + 10;}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="@timeout">
    <title>@ViewData["Title"]</title>
    <link rel="shortcut icon" href="~/img/favicon.png" />

    <link rel='stylesheet' href="/styles/organisation/styles.css?v=@Settings.ResourceVersion" type='text/css'/>
    <!--[if lt IE 11]> <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script> <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    @RenderBody()
</body>
</html>