﻿@{Layout = Request.IsAjaxCall() ? null : "~/Views/Layouts/Organisation.Container.cshtml";}
@{ var leftMenu = ViewData["LeftMenu"].ToStringOrEmpty(); }
@{ var topMenu = ViewData["TopMenu"].ToStringOrEmpty(); }
    <main>       
        <div class="page">
            <div class="left-panel">
                @if (leftMenu.HasValue())
                {
    <div class="sidebar-wrapper">
        @await Component.InvokeAsync(ViewData["LeftMenu"].ToString())
    </div>            }
            </div>
            <div class="right-panel">
                <header> @*@await Component.InvokeAsync(typeof(OrganisationHeader))*@</header>
                <div class="content-wrapper">
                    @if (topMenu.HasValue())
                    {
            <div class="top-menu">
                @await Component.InvokeAsync(ViewData["TopMenu"].ToString())
            </div>}
                    <div class="content">@RenderBody()</div>
                </div>
                <footer>@*@await Component.InvokeAsync(typeof(OrganisationFooter))*@</footer>
            </div>
        </div>       
        @if (!Request.IsAjaxRequest())
        {
    <script src="/lib/requirejs/require.js" data-main="/scripts/references.js?v=1"></script>
}
    </main>
