﻿
///<reference path="../../common/utilities/utilities">

body {
    text-align: center;

    h2 {
        margin-bottom: 30px;
    }

    .card {
        max-width: 81rem;
        max-height: 40rem;
        border: 0;

        .card-header {
            padding: unset;
            height: 10rem;
            width: 100%;

            img {
                max-height: 10rem;
                height: 100%;
                width: 100%;
            }

            .logo {
                max-width: 15rem;
                height: 10rem;
                position: absolute;
                top: 10%;
                left: 50%;
                transform: translate(-50%, -40%);
                -ms-transform: translate(-50%, -40%);
                width: 30%;
            }
        }

        .card-body {
            max-width: 60rem;
            width: 100%;
            margin-top: 3rem;

            .input-form {
                margin-left: 1rem;

                .form-body {
                    text-align: left;
                }

                .form-group {
                    margin-right: 1rem !important;
                }

                .form-group, .group-control {
                    min-width: 20rem;
                    max-width: none;
                    flex: 100%;
                }

                .form-control {
                    border: 3px solid $gray-background;
                }

                input, .btn {
                    -moz-border-radius: $b-radius;
                    -webkit-border-radius: $b-radius;
                    border-radius: $b-radius;
                    min-height: 4.2rem;
                }
            }

            .buttons-row {
                max-width: none;
                flex: 100%;
                margin-right: 1rem;

                .buttons {
                    display: flex;

                    .btn {
                        flex: 1;
                    }
                }
            }
        }
    }
}

@include for-tablet-portrait-up {
    body {
        text-align: center;
        background-color: $gray-background;

        .card {
            border-radius: 0 $b-radius $b-radius 0;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);

            .card-body {
                width: 50%;
            }

            .card-header {
                padding: unset;
                height: 40rem;
                width: 50%;
                max-height: 40rem;

                img {
                    max-width: 40rem;
                    max-height: 40rem;
                    height: 100%;
                    width: 100%;
                    border-radius: $b-radius 0 0 $b-radius;
                }

                .logo {
                    top: 50%;
                    left: 25%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%)
                }
            }
        }
    }
}