﻿///<reference path="../../utilities/utilities">
.modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;

    .modal-content {
        border-radius: $b-radius;

        .modal-header {
            border: 0;
            height: 3rem;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            background-color: $white;

            .close {
                margin-top: -.4rem;
            }
        }

        .group-control {
            min-width: initial;
            max-width: initial;
        }
    }
}

.modal.show .modal-dialog {
    transform: translate(-50%, -50%);
}