﻿///<reference path="../../utilities/utilities">

.control-label, label, legend {
    @include default-input-label;
}

.form-control {
    @include default-input-control;
}

.form-group {
    flex-direction: column;
    /*    flex-direction: column;  گروپ-کنترل flex:100%..IE ولی میشه --*/
    margin-left: 0;
    margin-right: 0;

    &.required-item .control-label:after {
        content: '*';
        color: red;
    }

    .group-control {
        min-width: $s-control-input-min-width;
        max-width: $control-input-width;
        padding-right: 0;
        padding-left: 0;
        flex: 1;

        @include for-tablet-portrait-up {
            min-width: $control-input-width;
        }
    }

    @include for-tablet-portrait-up {
        &.range-input {
            .group-control {
                display: flex;

                .form-control {
                    border-radius: $border-radius;
                }

                .range-label {
                    padding: 0.5rem 0.5rem 0 0.5rem;
                }
            }
        }
    }
}

.flex-wrapper {
    @include make-row(0);
}

.full-width-flex {
    @include make-row(0);
    width: 100%;
    flex: 100%;
}
