﻿///<reference path="../../utilities/utilities">

.pagination-wrap {
    background-color: white;
    height: 7rem;
    padding-top: 1rem;
    border-radius: 0 0 $b-radius $b-radius;

    .page-number {
        float: left;
        margin: 1rem 2rem;
        font-weight: bold;

        span {
            color: $color-primary;
        }
    }
}

.pagination {
    display: inline-block;
    margin: auto;
    background-color: $white;
    position: relative;
    @include default-border($gray-background,$b-radius);
    overflow: hidden;
    height: 5rem;
    vertical-align: middle;
    float: right;
    margin-right:2rem;

    li {
        float: left;
        display: inline-block;
        padding: $input-padding-y 0;
        margin: .5rem;
        padding-top: 1rem;
        height: 3.8rem;

        a {
            padding: $input-padding-y $input-padding-x * 2;
            text-decoration: none;
            color: $black-primary;
            font-weight: bold;
        }

        &:last-child, &:first-child {
            @include default-border($gray-background);
        }

        &:not(.disabled):not(.active):hover {
            background-color: $color-primary-lighten;
        }

        &.disabled {
            opacity: $disabled-opacity;
            background-color: $gray-background;

            a {
                cursor: default;
            }
        }

        &.active {
            a {
                color: $color-primary;
            }
        }
    }
}

.pagination-size {
    display: inline-block;
    height: 5rem;
    background-color: $white;
    border: 0.1rem solid #F2F2F2;
    border-radius: 1rem;
    vertical-align: middle;
    float: right;
    margin-right:2rem;
    padding: .5rem;

    .btn {
        min-width: 6rem !important;
    }

    label {
        padding-right: .5rem;
    }

    .dropdown.bootstrap-select:not(.dummy-class-to-make-it-important) {
        width: initial;
    }
}
