﻿///<reference path="../../common/utilities/utilities">

//-ms-flex: 1; /* IE 10 */
.right-panel {  
    .dashboard {
       padding: 1.5rem;
    }
}

.dashboard {
    color: $color-primary;   

    h2 {
        padding: 2.5rem 0 1rem 0;
    }

    h3 {
        margin-bottom: 3rem;
    }

    .view-body {
        background-color: transparent !important;
        padding: 0 !important;
    }

    .value {
        font-size: 4rem;
        font-weight: bold;
    }

    .form-group {
        background-color: $white;
        border-radius: 1rem;
        margin-right: .5rem;
        margin-left: .5rem;

        &:first-child {
            margin-left: 0 !important;
        }

        &:last-child {
            margin-right: 0 !important;
        }

        .group-control {
            max-width: none;
            padding: 2rem;

            .progress-bar {
                background-color: $available;
            }

            .icon {
                float: right;
            }

            .value {
                padding-bottom: 1rem;
            }

            .control-label {
                padding-bottom: 1.5rem;
                font-weight: bold;
            }
        }
    }

    .nav-tabs {
        margin-bottom: 3rem;

        a {
            display: inline-block;
            padding: 1rem;

            &.nav-link {
                border: 0;
            }

            &:hover {
                text-decoration: none;
                color: $black-primary;
            }

            &.active {
                border: 0 !important;
                border-bottom: .5rem solid $dirty-yellow !important;
            }
        }
    }

    .tab-content > .tab-pane:not(.active) {
        display: block;
        height: 0;
        overflow-y: hidden;
    }

    .grid-card {
        @include make-row(0);
        width: 100%;
        flex-direction: column;

        h2 {
            width: 100%;
        }

        td span {
            /*            white-space: pre-line;*/
            font-size: 2rem;
        }
    }

    .grid-wrapper {
        border-radius: $b-radius !important;

        tfoot {
            color: $black-primary;

            tr {
                td a {
                    color: $black-primary !important;
                }

                &:hover {
                    background-color: $white !important;
                    color: $black-primary !important;
                }
            }
        }
    }

    .flex-wrapper {
        .view-body {
            height: 85% !important;
        }

        .grid-wrapper {
            height: 83% !important;
        }
    }

    .base-form {
        background-color: $white;
        padding: 2rem;
        border-radius: $b-radius;
        color: $black-primary;

        h2 {
            background-color: $white; //#FCF7EB=light yellow;
        }
    }

    .invite {
        @extend .base-form;
        display: flex;
        flex-wrap: wrap;

        .main-section {
            flex: 1;
            font-size: 1.8rem;
        }

        .btn {
            margin-top: 5rem;
            min-height: 5rem;
            width: 100%;
            font-size: 1.8rem;
        }
    }
}

@include for-tablet-portrait-up {

    .invite {
        img {
            max-width: 30rem;
        }
    }

    .grid-card {
        flex-direction: row !important;
    }

    .report-form {

        &:first-child {
            margin-right: 1rem;
        }

        flex: 49%;
    }
}

@media (max-width: 1200px) {
    .group-control
    {
        min-width:20rem !important;
    }

    .invite img {
            max-width: 30rem;
    }
}

@media (min-width: 1200px) {

    .invite {

        img {
            max-width: 40rem;
        }
    }
}

@include for-phone-only {

    .grid-card {
        flex-direction: row !important;

        .card-wrapper {
            width: 50%;
        }
    }

    .report-form {
        flex: 100% !important;

        &:first-child {
            margin-bottom: 15px;
        }
    }
}