﻿///<reference path="../../common/utilities/utilities">
h2 {
    margin-top: 0;
    font-size: 2.2rem;
    color: $black-primary;
    background-color: $gray-background;
    padding-bottom: 2rem;
}

.social-media-login .buttons-row {
    text-align: left;
}

.captcha-image {
    margin-top: 10px !important;
}

.captcha-image-refresh {

    i {
        margin-right: 10px;
    }
}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right:1rem;
}