﻿///<reference path="../../common/utilities/utilities">

:root {
    --mainColor: $color-primary;
}

.whitelable-form {
    background-color: var(--mainColor);
    color: $white;
    padding: 12rem;
    border-radius: $b-radius !important;

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .view-body {
        padding: 0 !important;
        padding-top: 2rem !important;
        background-color: var(--mainColor) !important;

        .form-group {
            @extend .center;
        }

        .group-control {
            max-width: none;
            min-width: 22rem;
            flex: none;
        }
    }

    .header-section {
        flex: 1;

        .logo {
            img {
                width: auto;
                min-width: 5rem;
                max-width: 15rem;
                height: auto;
                min-height: 5rem;
                max-height: 7rem;
            }
        }

        .fa-plus {
            opacity: 0.5;
            padding: 0 1.5rem;
            font-size: large;
        }
    }

    .menu-section {
        @extend .center;
        height: 5rem;
        border: 1px dashed $light-gray;
        flex: 1;
        text-align: center;
        font-size: 2rem;
        font-weight: 100;
    }

    .wordup-section {
        @extend .center;
        width: 100%;
        border: 1px dashed $light-gray;
        height: 15rem;
        margin-bottom: 2.5rem;
        font-size: 2rem;
        margin-top: 2rem;
        font-weight: 100;
    }

    .buttons-row {
        margin-top: 2rem;
        padding: 0 !important;
        background-color: var(--mainColor) !important;
    }

    .brand-img {
        margin-right: 5rem;

        .group-control {
            height: 100%;
        }

        img {
            background-image: url('img/partner/partner-mainimage-default.jpg');
            background-size: cover;
            min-height: 200px;
            max-height: 400px;
            height: 100%;
            width: 100%;
            border-radius: $b-radius;
        }
    }

    .control-label {
        font-size: large;
        color: $white;
        flex: none;
    }

    @media (max-width: 1200px) {
        padding: 4rem;

        .form-group {
            flex: 100%;
        }

        .brand-img {
            margin-right: 0 !important;
        }

        .menu-section {
            flex: 100% !important;
            margin-bottom: 2rem;
        }

        .header-section {
            text-align: center;
            margin-bottom: 2rem;
        }
    }

    @include for-phone-only {

        .menu-section, .wordup-section {
            font-size: 1.5rem !important;
        }
    }
}

.invite-form {

    h3 {
        margin-bottom: 2rem;
    }

    .cke_chrome {
        height: 100%;
    }

    .cke_contents {
        height: 100% !important;

        iframe {
            min-height: 340px !important;
        }
    }

    .control-label {
        flex: none;
        padding-bottom: 1rem;
    }

    .form-body {
        display: flex;
        flex-wrap: wrap;
        padding-top: 4rem !important;
    }

    .template-body {
        &.form-group {
            max-width: none;
            flex: 1;
            margin-right: 2rem;

            .group-control {
                width: 100%;
                max-width: none;
            }
        }
    }

    .last-template-body {
        @extend .template-body;
        display: none;
    }

    .header-box {
        flex: 1;
        margin-left: 2rem;

        .btn-primary {
            margin-top: 2rem;
        }
    }

    .buttons-row {
        text-align: left;
        padding-left: 4rem !important;
        padding-bottom: 4rem !important;
    }

    .temp-check {
        flex-direction: row !important;
        margin-bottom: 0;

        .group-control {
            min-width: 2.2rem !important;
        }

        .control-label {
            padding-right: 1rem !important;
        }
    }
}
