﻿///<reference path="../../common/utilities/utilities">

.grid-card {

    .list-group {
        border-radius: $b-radius $b-radius 0 0;
        background-color: white;
        padding: 2rem 2rem 1rem 2rem;
        margin-top: 1rem;
        margin-right: 1rem;
        width: 100%;
        color: $black-primary;

        span {
            color: $color-primary;
            font-weight: bold;
            font-size: 1.6rem;
        }
    }

    .grid-wrapper {
        background-color: transparent !important;
        border-radius: 0 0 1rem 1rem !important;
        padding: 0 !important;
        margin-top: 0 !important;

        table {
            border-collapse: collapse !important;
        }

        .grid {
            margin-bottom: 0 !important;

            tbody {
                @include make-row(0);
                background-color: transparent !important;
                width: 100%;

                tr {
                    border-radius: 1rem;
                    background-color: $white;
                    padding: 1rem;
                    display: flex !important;
                    flex-wrap: wrap;
                    flex: 1;

                    &:hover {
                        background-color: $white !important;
                        color: $black-primary !important;
                    }

                    td {
                        background-color: $gray-background;
                        display: inline-block;
                        border-style: hidden !important;
                        border-radius: $b-radius;
                        margin: .5rem;
                        flex: 1;
                        min-height: 10rem;

                        &.type-head {
                            display: block;
                            min-height: 3rem;
                            max-height: 6rem;
                            height: 100%;
                            background-color: $white;
                            flex: 100%;

                            span {
                                color: $color-primary;
                                font-weight: bold;
                                font-size: 1.6rem;
                            }
                        }

                        &.allocated {
                            background-color: $color-primary;
                            color: $white;
                        }

                        &.available {
                            background-color: $available;
                            color: $white;

                            &.minimun {
                                background-color: $dirty-yellow;
                            }
                        }

                        &.unavailable {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .card-wrapper {
        background-color: white;
        border-radius: $b-radius;
        margin-right: 1rem;
        flex: 1;
        margin-top: 1rem;
        /*        max-height: 25rem;
        min-height: 15rem;
        height: 100%;*/
        /*        padding-bottom: 1rem;*/
    }
}

.offer {
    width: 100%;

    .price {
        color: $color-primary;
        font-weight: bold;
        font-size: 3rem;
    }

    .discount {
        color: coral;
        font-weight: bold;

        &.red-text {
            color: red !important;
        }
    }

    td:hover {
        &:not(.type-head) {
            background-color: $color-primary !important;

            span {
                color: $white !important;
            }
        }
    }
}

.license {
    width: 100%;

    td {
        span {
            white-space: pre-line;
        }
    }
}

@include for-tablet-portrait-up {

    .license {
        width: 30%;
    }

    .offer {
        width: 70%;

        .price
            {
            float:right;
        }
    }
}