﻿///<reference path="../../common/utilities/utilities">
header {
    .header-wrapper {
        .navbar {
            background-color: $white;
            color: $dirty-yellow;
            height: 7rem;
            max-height: 7rem;
            padding-right: 1.5rem;

            .header-left-actions-wrapper {

                .menu-toggler {
                    @include burger-menu-toggler($dirty-yellow);
                }
            }

            .header-account-wrapper {
                padding: 0 1rem;
            }
        }
    }
}
