﻿///<reference path="../../common/utilities/utilities">

.page {
    min-height: $page-min-height;
    display: flex;
    flex-flow: row wrap;

    .left-panel {
        display: none;

        @include for-tablet-landscape-up {
            min-height: $page-min-height;
            flex: 0 0 $sidebar-width;
            max-width: $sidebar-width;
            display: block;
            opacity: 1;
        }

        &.show {
            position: absolute;
            z-index: 100;
            animation-name: menu-slide-right-anim;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
            display: block;
            max-width: $sidebar-width;
            width: $sidebar-width;
            min-height: $page-min-height;
            background-color: $white;

            li.visible-in-collapsed-only {
                display: block;
            }
        }
    }

    .right-panel {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: hidden;
        background-color: $gray-background;
        color: $black-primary;

        .content-wrapper {
            flex: 1;
            display: flex;
            flex-flow: column wrap;
            overflow-y: auto;

            .content {
                flex: 1;
                padding: 2rem;

                form {

                    .form-body, .view-body {
                        @include regular-form($b-radius,$b-radius,0,0);
                    }

                    .buttons-row {
                        @include regular-form(0,0,$b-radius,$b-radius);

                        &.top-buttons-row {
                            background-color: $gray-background;
                            padding: 0;
                        }
                    }

                    .import-form {
                        @include regular-form;

                        .top-buttons-row {
                            background-color: $white;
                        }
                    }

                    .search {
                        @include regular-form;
                        margin-bottom: 0;
                    }

                    .btn {
                        border-radius: $b-radius;
                        min-height: 3.8rem;
                    }

                    .grid-wrapper {
                        @include regular-form($b-radius,$b-radius,0,0);
                        margin-top: 1rem;

                        table {
                            border-collapse: separate;
                            overflow: auto;
                            background-color: transparent;
                            border-spacing: 0 0.4rem;

                            td i {
                                color: $black-primary;
                            }

                            th, th a {
                                background-color: #F8F8F8;
                                color: $black-primary;
                            }

                            tr:hover {
                                background-color: $color-primary;
                                color: $white;

                                td a, td i {
                                    color: $white;
                                }
                            }

                            tbody {
                                background-color: $white;
                                color: $black-primary;
                            }

                            th, td {
                                border-bottom: .2rem solid $gray-background;
                                border-top: .2rem solid $gray-background;
                                padding: 1.5rem;

                                &:first-child {
                                    border-bottom-left-radius: $b-radius;
                                    border-left: .2rem solid $gray-background;
                                    border-top-left-radius: $b-radius;
                                }

                                &:last-child {
                                    border-bottom-right-radius: $b-radius;
                                    border-right: .2rem solid $gray-background;
                                    border-top-right-radius: $b-radius;
                                }
                            }
                        }
                    }

                    .form-control {
                        border-radius: $b-radius;
                        border-color: $gray-background;
                        background-color: $gray-background;
                        min-height: 4rem;
                    }
                }

                .file-upload {
                    flex: 1;

                    .btn {
                        border-radius: $b-radius 0 0 $b-radius !important;
                    }

                    .form-control {
                        border-radius: 0 $b-radius $b-radius 0 !important;
                    }

                    .delete-file {
                        top: -51px;
                        min-height: .5rem;
                        border-radius: $b-radius !important;
                    }

                    .progress {
                        border-radius: 0 1rem 1rem 0;
                        /*                        min-width: 10rem;*/
                        flex: 1;
                        background-color: $gray-background;
                        min-height: 3.9rem;

                        .form-control {
                            background-color: transparent;
                        }
                    }
                }
            }

            footer {
                background-color: $white;
                text-align: center;
            }
        }
    }
}