﻿///<reference path="../../common/utilities/utilities">

@mixin left-border($color: transparent) {
    border-left: .7rem solid $color;
}

.sidebar-wrapper {
    min-height: $page-min-height;
    height: 100%;
    background-color: $color-primary;

    .sidebar-menu {

        .logo {
            height: 20rem;

            a {
                padding-left: 3rem;

                img {
                    width: 15rem;
                    height: 10rem;
                }
            }
        }

        .nav {

            .dashboard {
                padding-bottom: 5rem;
            }

            li {

                a {
                    display: block;
                    padding: 1rem 2rem;
                    color: $white;
                    font-size: $default-font-size;
                    @include regular-font;
                    @include left-border;

                    &:hover, &:focus, &:active {
                        color: $dirty-yellow;
                    }

                    i {
                        color: $white;
                        padding-right: 10px;
                    }
                }

                &.has-submenu {
                    ul {
                        list-style: none;
                        user-select: none;
                        cursor: pointer;
                        background-color: $color-primary;
                        padding: 0;

                        ul li a {
                            padding-left: 4rem;
                        }
                    }
                    /// add arrows to submenu parrent
                    > a {
                        &:after {
                            content: "\f0da";
                            font-family: 'Font Awesome 5 Free';
                            padding: 0 0.5rem;
                            font-size: 1.5rem;
                            float: right;
                            color: $white;
                        }

                        &[aria-expanded=true] {
                            &:after {
                                content: "\f0d7";
                                color: $color-primary;
                            }
                        }

                        &[aria-expanded=true] {
                            ::after {
                                content: "\f0d8";
                                font-family: 'Font Awesome 5 Free';
                                padding: 0 0.5rem;
                                font-size: 1.5rem;
                                float: right;
                            }
                        }
                    }
                }

                &.active-parent {
                    > a {
                        color: $dirty-yellow;
                    }
                }

                &.active {
                    a {
                        @include left-border($dirty-yellow);
                        color: $dirty-yellow;
                    }
                }
            }
        }

        .buttons-row {
            position: absolute;
            bottom: 2rem;
            left: 2rem;

            .buttons {
                button, a {
                    color: $black-primary;
                    display: block;
                    font-size: 1.4rem;
                    font-weight: 500; //@BB change to $semi-bold
                    &:hover, &:focus, &:active {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

@include for-phone-up-to-tablet-landscape {
    .sidebar-menu {

        .logo {
            img {
                width: 12rem !important;
                margin-left: 1.5rem;
                margin-top: 3rem;
            }
        }
    }

    .navbar-expand .navbar-nav {
        float: right;
    }

    header .header-wrapper .navbar {
        display: inline-block;
        width: 100%;
        padding-top: 1rem;
    }

    .burger-icon {
        margin-top: 1rem !important;
    }
}
