﻿///<reference path="../../common/utilities/utilities">

$bs-height-base: ($line-height-computed + $padding-base-vertical * 2);

.login-content {
    background-color: darkslategrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    .card {
        &.login {
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
            -moz-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            -webkit-box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            /*            margin-bottom: 0.8rem;*/
            margin-bottom: 50px;
            padding-bottom: 50px;

            + div {
                text-align: center;
            }
        }

        .card-body {
            padding-bottom: 0;
            background-color: red;
        }
    }

    .social-media-login {
        background-color: #E2E2E2;
        margin: 25px -1.25rem 0 -1.25rem;
        padding-bottom: 2rem;

        > h3 {
            font-size: 1em;
            padding: 5px;
        }

        .buttons {
            text-align: left !important;
        }
    }

    .form-group {
        label {
            @include make-column-lg(12);
        }

        .group-control {
            @include make-column-lg(12);
        }
    }

    .input-form {
        input {
            -moz-border-radius: 0px;
            -webkit-border-radius: 0px;
            border-radius: 0px;
        }

        .form-control:focus {
            border-color: #00A49E;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .buttons-row {
            @include make-row();

            .buttons {
                @include make-column-lg(12);
                text-align: center;

                .btn-login {
                    /*                    background-color: #00A49E;*/
                    /*                    border-color: #007772;*/
                    border-radius: 0;
                    font: bold 15px arial;
                    padding: 15px 25px;
                    /*
                    &:hover {
                        background-color: #007772;
                        border-color: #00A49E;
                    }*/
                }
            }

            .text-info {
                color: #00A49E !important;
            }

            .btn-social-login {
                position: relative;
                padding-left: ($bs-height-base + $padding-base-horizontal);
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                text-indent: -9999em;
                border-radius: 50%;
                width: 3em;
                height: 3.1em;

                > :first-child {
                    position: absolute;
                    left: 0;
                    top: 4px;
                    bottom: 0;
                    width: 100%;
                    line-height: ($bs-height-base + 0.65);
                    font-size: 1.5em;
                    text-align: center;
                    text-indent: 0;
                }
            }
        }
    }
}

.page {
    min-height: calc(100vh - #{$header-height});
    display: flex;
    flex-flow: row wrap;

    .left-panel {
        display: none;
        padding-right: 10px;

        @include for-tablet-landscape-up {
            min-height: calc(100vh - #{$header-height});
            flex: 0 0 $sidebar-width;
            max-width: $sidebar-width;
            display: block;
            opacity: 1;
        }

        &.show {
            position: absolute;
            z-index: 100;
            animation-name: menu-slide-right-anim;
            animation-duration: 0.25s;
            animation-fill-mode: forwards;
            display: block;
            max-width: $sidebar-width;
            width: $sidebar-width;
            min-height: calc(100vh - #{$header-height});
            background-color: $white;

            li.visible-in-collapsed-only {
                display: block;
            }
        }
    }

    .right-panel {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;
        overflow-y: scroll;
        background-color: $gray-background;
        color: $black-primary;

        .content-wrapper {
            flex: 1;
            padding: 2rem;
            display: flex;
            flex-flow: column wrap;
            overflow-y: auto;

            .content {
                flex: 1;
            }
        }
    }
}
